<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iker Muñoz - Portfolio</title>
    <base href="/repo/">

    <!--? [ CSS EXTERNAL LIBRARIES REFERENCES ] -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

    <!--? [ CSS REFERENCES ] -->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/about_me.css">
    <link rel="stylesheet" href="css/projects.css">
    <link rel="stylesheet" href="css/career.css">

    <!--? [ CSS DIRECTIVES ] -->
    <link rel="stylesheet" href="js/directives/project_card/project_card.css">
    <link rel="stylesheet" href="js/directives/job_card/job_card.css">

</head>
<body ng-app="portfolio" ng-controller="portfolio_controller">

    <!--? Navbar -->
    <div class="navbar">
        
        <div class="light" ng-style="{ 'left': (5 + (70 * selected_state_index)) + 'px' }"></div>

        <div class="icon_wrapper" ng-repeat="state in states" ng-click="change_state(state.name)">
            <i class="fa" ng-class="state.icon" ng-style="selected_state_index == $index ? { 'color': '#e3c37f', 'font-size': '38px' } : {}"></i>
        </div>

    </div>

    <div class="view" ui-view></div>

</body>
</html>

<!--? [ JS EXTERNAL LIBRARIES REFERENCES ] -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.1.0/angular-ui-router.min.js"></script>

<!--? [ JS REFERENCES ] -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/controllers/portfolio_controller.js"></script>

<!--? [ JS JSONS ] -->
<script src="js/json/projects.js"></script>
<script src="js/json/jobs.js"></script>

<!--? [ JS DIRECTIVES ] -->
<script src="js/directives/project_card/project_card.js"></script>
<script src="js/directives/job_card/job_card.js"></script>