<div class="about_me_wrapper">
    <div class="about_me">
        <div class="description">
            <div class="presentation">
                <p>Hi! I'm</p>
                <h1>Iker Muñoz Molero</h1>
                <p>a versatile full-stack web developer with exceptional adaptability and an insatiable passion for learning and mastering new technologies.</p>
            </div>
            <div class="experience">
                <div class="experience_wrapper">
                    <h1>1+</h1>
                    <p>Years of experience</p>
                </div>
                <div class="experience_wrapper">
                    <h1>4</h1>
                    <p>Commercial projects developed</p>
                </div>
            </div>
            <div class="extras">
                <p>Others ways to find me:</p>
                <div class="extras_wrapper">
                    <button ng-click="redirect('https://github.com/iker-molero')">
                        <i class="fa-brands fa-github"></i>
                    </button>
                    <button ng-click="redirect('https://www.linkedin.com/in/iker-muñoz-molero')">
                        <i class="fa-brands fa-linkedin"></i>
                    </button>
                    <button ng-click="mail_copy()">
                        <i class="fa fa-envelope"></i>
                    </button>
                </div>
                <s ng-style="copy_flag == true  ? { 'opacity': '1' } : { 'opacity': '0' }">Mail copied to clipboard</s>
            </div>
        </div>
        <div class="icon">
            <p>&lt;/&gt;</p>
        </div>
    </div>
</div>