job-card {

    width: 100%;
    height: fit-content;
    border-radius: 25px;
    background-size: cover;
    box-sizing: border-box;
    border: 5px solid #222222;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    .title_wrapper, .duration_wrapper {

        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {

            font-weight: 700;
            color: #e3c37f;
            margin: 0px;
            font-size: 24px;
            text-align: left;

        }

        i {

            color: #e3c37f;
            font-size: 24px;
            cursor: pointer;

        }

    };

    .duration_wrapper { justify-content: end; }

    .description_wrapper {

        flex-grow: 1;
        height: fit-content;

        p {

            font-size: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }

    };

}

@media screen and (max-width: 1300px) {
    
    project-card { width: 100% !important; }

}